body {
background-color: antiquewhite;
}


#div_logo {
    background-color: brown;
    height: auto;
    width: 100%;
}


.btn_titles {
    height: 55px;
    width: 57px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 3px;
    font-size: 15px;
    font-weight: 600;
}

.btn_items {
    height: 45px;
    width: 45px;
    margin: auto;
    border-radius: 20%;
    display: block;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



#img_logo {
    height: 150px;
    width: 150px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#div_title {
    margin: auto;
    width: 60%;
    text-align: center;
}

#title2 {
    margin-top: -15px;
}

#div_title_swipe_imgs {
    width: auto;
    margin: auto;
    display: table;
    clear: both;
    content: "";
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px black solid;
    background-image: url();
}

.title_imgs {
    height: 90%;
    width: 100%;
    border-radius: 20%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#content {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    content: "";
    clear: both;
    display: table;
}


#menu {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 60px;
}

